{% extends 'base.html.twig' %}

    {% block title %}page PROFIL{% endblock %}

    {% block header %}
        <nav> Contenu du block header </nav>
    {% endblock %}

    {% block body %}
    <h1>{{title}}</h1>

    <h2>Profil de <font color="FF0000">{{nom}}</font>, votre accès est: {{acces}}</h2>
    {% endblock %}
