{% extends 'base.html.twig' %}
                    
{% form_theme form 'ad/_collections.html.twig' %}

{% block body %}
<div class="container">
        <h1>Nouvelle Annonce</h1>
        {{form_start(form)}}

               
                {{ form_widget(form) }}          
                
                      <button type="submit" class="btn btn-primary">Créer</button>
        {{form_end(form)}}
</div>
{% endblock %}




